body {
    font-family: Helvetica, Verdana, Arial, "san serif";
    background-color: violet;
    padding: 25px;
    font-size: 120%;
}


h1, h2, h3 {
    font-family: "Courier New", monospace;
}

a {
    text-decoration: none;
    color: maroon;
}
a:hover {
    text-decoration: underline;
    text-decoration-style: wavy;
}

.strike {
  text-decoration: line-through;
}

#output {
  min-height: 40px;
  border: solid 1px black;
  padding: 10px;
}
