.task {
  background-color: darkcyan;
  font-family: monospace;

}

.questions {
  background-color: lavenderblush;
font-family: monospace;
}

.process {
  background-color: lightsalmon;
  font-family: monospace;
}
